.todo {}

.todo__add {
  display: flex;
  align-content: space-between;
}
.todo__add input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em;
  font-size: 1.5rem;
  line-height: 1.5;
}
.todo__add .todo__add-button {}

.todo__list {
  margin: 1em 0;
  padding: 0;
  list-style: none;
}

.todo__item {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  /* align-items: center; */
  align-items: stretch;
  align-content: center;

  margin: 0 0 0.5em 0;
  padding: 0 0 0 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.8);
}

.todo__item--done {
  background: rgba(255, 255, 255, 0.3);
}
.todo__item--done .todo__item-name {
  text-decoration: line-through;
}

.todo__item-remove {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-left: 1px solid #ddd;
  border-radius: 0 0.4375rem 0.4375rem 0;
  background: #fcfcfc;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.09),
      rgba(0, 0, 0, 0)
    );
}

.todo__item-toggle {
  display: flex;
  align-items: center;
  height: auto;
  padding: 0 0.25em;
}

.todo__item-name {
  flex: 1 1;
  box-sizing: border-box;
  display: inline-block;
  padding: 0.125em 0.125em 0.125em 0.5em;

  text-align: left;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.25;
  color: #444;
}
